/*
	CODED & COPYRIGHT @ DUONG VIEN NGUYEN
*/
*{
	max-width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'Share Tech Mono', monospace!important;
	font-weight: 300;
	font-size: 16px;	
	text-rendering: optimizeLegibility;
	letter-spacing: 0.8;
	padding: 0;
	margin: 0;
	max-width: 100%;
}
.row{
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
}
/* 
	VIEN STUDIO
*/
.container{ 
	max-width: 100%;
	clear: both;
	padding: 10px;
}
.trade_mark{
	font-family: Montserrat Subrayada, sans-serif;
	font-size: 30px;
	color: #660066;
	font-weight: bold;
	background-color: gold;
	padding: 5px 25px;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav h1 a:hover{
	text-decoration: none;
	color: white;
}
nav{
	padding: 10px 0 0 20px;
}
.nav-main{
	float:right;
	list-style: none;
	margin-top: 10px;
	background-color: black;
}
.nav-main span{
	color: white;
}
.nav-main li{
	display: inline-block;
	margin: 18px 22px;
}
.nav-main li a{
	font-size: 20px;
	display: inline-block;
	color: red;
	text-decoration: none;
}
.nav-main li a:hover{
	color: gold;
}

/*
	SHOWCASE
*/
header{
	background: url("img/computer-motherboard-pc-wires.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
#showcase_sect{
	position: absolute;
	width: 1140px;
	top: 63%;
	left: 50%;
	transform: translate(-50%, -63%);
	padding-top: 40px;
}
#showcase_sect h1{
	font-family: 'Helvetica', sans-serif;
	font-size: 110px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	margin: 0;
	display: inline-block;
}
.title-one{
	animation-name: moveRight;
	animation-duration: 3s;
}
.title-mid{
	animation-name: moveLeft;
	animation-duration: 3.5s;
}
.title-two{
	animation-name: moveLeft;
	animation-duration: 2.5s;
}
@keyframes moveRight{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
		opacity:1;
		transform: translate(0);
	}
}
@keyframes moveLeft{
	0%{
		opacity:0;
		transform: translateX(-100%);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
#showcase_sect i{
	display: block;
	font-size: 80px;
	color: gold;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

/* DEVELOPER BIO */
#about-sect{
	background: #23074d;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 115vh;
}
#about-sect h1{
	margin: 0; /* for fixing random margin-top */
	text-align: center;
	padding: 20px;
	color: black;
	font-size: 45px;
	text-shadow: 4px 0 gold;
}
#about-sect h1 span{
	color: red;
}
.dev_img{
	display: block;
	margin: 20px auto 0 auto;;
	max-width: 125px;
	border-radius: 50%;
}
.main-bio{ /* container */
	border: solid white 0.5px;
	height: 100vh;
	margin: auto 10%;
	text-align: center;
}
.bio-intro p{
	text-align: justify;
}
.img-bio{
	display: block;
	width: 65%;
	margin: 0 auto;
}
.img-bio h2{
	font-style: italic;
	background-color: rgb(0, 0, 0, 0.6);
	display: inline-block;
	width: 100%;
}
.focus-row{
	width: 65%;
	margin: 0 auto;
}
.focus-point{
	display: inline-block;
	width: 50%;
}
.focus-point:first-child h1{
	text-shadow: 4px 0 black;
}
.focus-point:first-child p{
	background-color: rgba(0,0,0,0.6);
	display: inline;
	padding: 5px 0;
	color: gold;
	font-size: 18px;
}
.focus-point:first-child span{
	color: white;
}
.qr-box{
	padding: 20% 0;
}
.qr-code{
	width: 175px;
	height: 175px;
	display: block;
	margin: 20px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary a{
	text-decoration: none;
	color: white;
}

/* projects section */
#projects-sect{
	height: 100vh;
	text-align: center;
}
#projects-sect h2{
	padding: 20% 0;
}
/* services section */
#services-sect{
	background: #22c1c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}
#services-sect .row{
	padding: 2% 0 10% 0;
}
#services-sect h1{
	text-shadow: 8px 0 black;
	color: white;
	font-size: 100px;
	text-align: center;
	margin: 0;
	padding-top: 10%;
}
#services-sect h1 span{
	color: red;
}
#services-sect .services-box{
	background-color: white;
	width: 30%;
	margin-left: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-title{
	text-align: center;
	background-color: gold;
	width: 90%;
	margin: 0 auto;
}
.service-plan ul li{
	list-style-type: none;
	font-size: 18px;
}
.service-plan ul li i{
	padding: 15px;
}
/*
	CONTACT INFORMATIONS
*/
#contact_sect{
	padding: 20px 0;
	background-image: url("img/columns-420749_1920.jpg") ;
	background-size: cover;
	height: 100vh;
	background-position: center;
}
#contact_sect h1{
	text-shadow: 4px 0 gold;
	text-align: center;
	font-size: 46px;
	color: black;
	font-weight: bold;
}
#contact_sect h1 span{
	color: red;
}
#contact_sect .container{
	border: white 1px solid;
	padding: 3% 10%;
}
#contact_sect p {
	color: white;
    text-align: justify;
	background-color: black;
	font-size: 19px;
	margin-bottom: 25px;
}
.contact-form{
	width: 60%;
	margin: 0 auto;
}
label{
	color: gold;
	font-size: 18px;
}
input[type=text],
input[type=email],
select,
textarea{
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea{
	height: 150px;
}
input[type=submit]{
	background-color: #ff571a;
	border: 1px solid #ff571a;
	border-radius: 3px;
	padding: 5px 10px;
	color: black;
	font-weight: bold;
}
*:focus{
	outline:none;
}
.media-icons a{
	font-size: 28px;
	padding: 0 2.5%;
}

/* 
	LICENSES
*/
footer {
	padding: 100% 0 0 0;
	color: gold;
	background-image: url("img/2017-08-12%2016.23.51.jpg");
	background-size: cover;
	max-height: 100%;
	text-shadow: 4px 0 #660066;
	text-align: center;
	font-size: 40px;
}


